.image{
    object-fit: cover;
    height: 200px;
    width: 200px;
    margin-right: 100px;
    border-radius: 10px;
}
.image2{
    object-fit: cover;
    height: 200px;
    width:200px;
    border-radius: 500px;
}